body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

section {
    margin-bottom: 40px;
}

.project {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}
.project a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.project a:hover {
    opacity: 0.8;
}
